.root{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em; 
    padding-bottom: 0px;
    padding-top: 0px;
}
.text{
    font-size: 16px;
    font-weight :200;
}
.user{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 20px;
}
.displayName{
    font-weight: bold;
    padding: 0.5em;
}
.username{
    color:#aaa;
}
.date{
    color: #aaa;
    padding: 0.5em;
    font-size:8pt;
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    color: #aaa;

}
.icon{
    margin-right:3em;
}
.num{
    font-size: 10pt;
    margin-right: 3em;
    margin-left: 0.25em;
}
.rtGreen{
    color: #20883f;
}
.favYellow{
    color: #e2c400;
}
.hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
